# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Older versions of App component
./app_old_version_1.js
./app_old_version_2.js

# Database
./api/api/data
./api/api/data
./api/api/data/test_db.sqlite

api/api/data/.env
api/api/data/__pycache__/__init__.cpython-39.pyc
api/api/data/__pycache__/create_chromebook_inventory_db.cpython-39.pyc
api/api/data/__pycache__/select_queries.cpython-39.pyc
api/api/data/__pycache__/sqlite_queries.cpython-39.pyc
api/api/data/chromebook_inventory.sqlite
api/api/data/test_db.sqlite
api/api/migrations/README
api/api/migrations/__pycache__/env.cpython-39.pyc
api/api/migrations/alembic.ini
api/api/migrations/env.py
api/api/migrations/script.py.mako

#backup
backup


# Pycache
./api/api/__pycache__/
./api/api/data/__pycache__/
./api/api/models/__pycache__/
api/__pycache__/

# dependencies
/node_modules
/.pnp
.pnp.js
/api/venv
/api/api/venv
/api/api/init_scripts/venv/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
api/get-pip.py

npm-debug.log*
yarn-debug.log*
yarn-error.log*
